.menu-item {
	min-width: 30%;
	height: 240px;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 12px 0;
	overflow: hidden;

	&:hover {
		cursor: pointer;
		& .background-image {
			transform: scale(1.1);
			transition: transform 1s ease-in-out;
		}
		& .content {
			opacity: 1;
			transition: opacity 1s ease-in-out;
		}
	}

	&.large {
		height: 480px;
	}

	&:first-child {
		margin-right: 7.5px;
	}

	&:last-child {
		margin-left: 7.5px;
	}

	.background-image {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}

	.content {
		height: 90px;
		padding: 0 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: white;
		opacity: 0.95;
		position: absolute;

		.title {
			height: auto;
			margin: 0;
			font-weight: 700;
			margin-bottom: 6px;
			font-size: 18px;
			color: black;
		}

		.subtitle {
			margin: 0;
			height: auto;
			font-weight: 400;
			font-size: 12px;
		}
	}
}
