.custom-button {
	min-width: 165px;
	max-width: 250px;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-size: 13px;
	background-color: #fce333;
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	@media screen and (max-width: 400px) {
		font-size: 10px;
	}
	&:hover {
		background-color: black;
		color: #fce333;
	}
	&.google-sign-in {
		clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
		background-color: #4285f4;
		color: white;

		&:hover {
			background-color: black;
			color: #fce333;
		}
	}
	&.inverted {
		color: black;
		background-color: #fce333;
		border: 1px solid rgba(0, 0, 0, 0.098);
		&:hover {
			color: #fce333;
			background-color: black;
			border: none;
		}
	}
}
