.cart-dropdown {
	position: absolute;
	width: 380px;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	top: 88px;
	right: 40px;
	z-index: 5;
	@media screen and (max-width: 800px) {
		top: 66px;
		right: 10px;
	}
	@media screen and (max-width: 600px) {
		top: 60px;
	}

	@media screen and (max-width: 400px) {
		top: 54px;
		width: 302px;
	}
	.empty-message {
		font-size: 16px;
		margin: 50px auto;
	}

	.cart-items {
		max-height: 420px;
		display: flex;
		flex-direction: column;
		overflow: scroll;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			display: none;
		}
		box-shadow: 0 7.5px 15.2px rgba(0, 0, 0, 0.035),
			0 60px 121px rgba(0, 0, 0, 0.07);
		border-top: 1px #f7f7f7 solid;
	}

	.cart-footer {
		width: 380px;
		height: 80px;
		background-color: white;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		z-index: 6;
		border-top: 1px #f7f7f7 solid;
		border-bottom: 1px #f7f7f7 solid;
		@media screen and (max-width: 400px) {
			width: 302px;
		}
	}
	.close-button {
		width: 80px;
		text-align: center;
		color: #dadada;
		cursor: pointer;
	}
}
