.cart-dropdown {
	position: absolute;
	width: 380px;
	height: 380px;
	display: flex;
	flex-direction: column;

	// border: 1px solid rgba(0, 0, 0, 0.098);
	background-color: black;
	top: 88px;
	right: 40px;
	z-index: 5;
	opacity: 0.8;

	.empty-message {
		font-size: 16px;
		margin: 50px auto;
	}

	.cart-items {
		height: 340px;
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}

	button {
		margin-top: auto;
	}
}
