.frame-contents {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	.link-collections {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-width: 300px;
		cursor: pointer;
		height: 80px;
		// clip-path: polygon(2.5% 0%, 100% 0%, 97.5% 100%, 0% 100%);
		background-color: #000000;

		&:hover {
			background-color: white;
			&:hover span {
				color: #fce333;
			}
		}
		& span {
			font-size: 28px;
			font-style: italic;
			font-weight: 700;
			color: #fce333;
			@media screen and (max-width: 600px) {
				font-size: 24px;
			}
			@media screen and (max-width: 500px) {
				font-size: 16px;
			}
		}
	}
}
