.cart-icon {
	width: 60px;
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.shopping-icon {
		width: 30px;
		height: 30px;
	}
	.count-circle {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		.item-count {
			position: absolute;
			font-size: 12px;
			font-weight: bold;
			color: white;
		}
	}
}
