.cart-icon {
	width: 64px;
	height: auto;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
	margin-left: 19px;

	.shopping-icon {
		width: 34px;
		height: auto;
		position: absolute;
		bottom: 4px;
	}
	.item-count {
		position: absolute;
		font-size: 12px;
		font-weight: 500;
		color: #000000;
		bottom: 24px;
		right: 0px;
	}
}
