.cart-icon {
	height: auto;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
	margin-left: 16px;

	.shopping-icon {
		width: 38px;
		height: auto;

		@media screen and (max-width: 800px) {
			width: 34px;
			margin-left: 12x;
		}
		@media screen and (max-width: 600px) {
			width: 28px;
			margin-left: 4px;
		}
		@media screen and (max-width: 400px) {
			width: 24px;
		}
	}
	.item-count {
		position: absolute;
		font-size: 12px;
		font-weight: 500;
		color: #000000;
		bottom: 23px;
		right: 20px;
	}
}
