.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	@media screen and (max-width: 800px) {
		margin-bottom: 10px;
	}

	.logo-container {
		height: auto;
		width: 64px;
		padding: 0;

		.logo {
			width: auto;
			height: 42px;
			@media screen and (max-width: 800px) {
				height: 36px;
			}
			@media screen and (max-width: 600px) {
				height: 32px;
			}
			@media screen and (max-width: 400px) {
				height: 28px;
			}
		}
	}

	.header-sections {
		display: flex;
		align-items: center;
		justify-content: center;

		.header-section {
			width: auto;
			height: auto;
			padding-bottom: 4px;
			text-decoration: none;
			color: black;
			font-weight: 600;
			text-transform: uppercase;
			border-bottom: 2px white solid;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media screen and (max-width: 800px) {
			}
			@media screen and (max-width: 600px) {
			}
			@media screen and (max-width: 400px) {
			}
			.account-icon {
				width: 42px;
				height: auto;
				margin-right: 16px;

				@media screen and (max-width: 800px) {
					width: 38px;
					margin-right: 12px;
				}
				@media screen and (max-width: 600px) {
					width: 32px;
					margin-right: 4px;
				}
				@media screen and (max-width: 400px) {
					width: 26px;
				}
			}
		}
	}
}

.header-display-name {
	font-size: 18px;
	align-self: flex-end;
	margin-right: 32px;
	text-transform: capitalize;
	font-weight: 400;
	@media screen and (max-width: 800px) {
		font-size: 16px;
		margin-right: 24px;
	}
	@media screen and (max-width: 600px) {
		font-size: 14px;
		margin-right: 16px;
	}

	@media screen and (max-width: 400px) {
		font-size: 12px;
		overflow: hidden;
	}
}
