.header {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;

	.logo-container {
		height: auto;
		width: 64px;
		padding: 0;
		.logo {
			width: auto;
			height: 32px;
		}
	}

	.header-sections {
		width: auto;
		height: 32px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		.header-section {
			margin-left: 32px;
			padding-bottom: 4px;
			text-decoration: none;
			color: black;
			font-weight: 600;
			text-transform: uppercase;
			border-bottom: 2px white solid;
			transform: translateY(4px);
			cursor: pointer;
			&:hover {
				border-bottom: 2px black solid;
			}
		}
	}
}

.header-display-name {
	margin-left: 32px;
	padding-bottom: 4px;
	text-transform: capitalize;
	transform: translateY(4px);
	border-bottom: 2px white solid;
}
